{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} - Cambiar Contraseña{% endblock titulo %}

{% block contenido %}
<h1>Cambiar Contrase&ntilde;a</h1>
<p>Por favor introduzca su contraseña anterior, por razones de seguridad, después introduzca su nueva contrase&ntilde;a dos veces para confirmar que la escribió correctamente.</p>

<form method="post">{% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-success" type="submit" value="Cambiar mi contraseña">
</form>
{% endblock contenido %}