<!-- plantillas/detalle_articulo.html -->
 {% extends 'base.html' %}
 {% load crispy_forms_tags %}

 {% block contenido %}
 <div class="article-entry">
  <h2>{{ articulo.titulo }}</h2>
  <p>por {{ articulo.autor }} | {{ articulo.fecha }}</p>
  <p>{{ articulo.contenido }}</p>
 </div>
 <hr>
 <h4>Comentarios</h4>
 {% for comentario in articulo.comentario_set.all %}
  <p>{{ comentario.autor }} &middot; {{ comentario }}</p>
 {% endfor %}
 <hr>

 <h4>Agregar comentario</h4>
<form action="" method="post">{% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success ml-2" type="submit">Guardar comentario</button>
</form>

 <p>
  <a href="{% url 'edicion_articulo' articulo.pk %}">Editar</a> |
  <a href="{% url 'eliminacion_articulo' articulo.pk %}">Eliminar</a>
</p>
<p>Volver a <a href="{% url 'lista_articulos' %}">Todos los artículos</a></p>
 {% endblock contenido %}